In [1]:
# Modul Dasar
import numpy as np               # Operasi matematika dan array
import pandas as pd              # Struktur data tabular (DataFrame)
import matplotlib.pyplot as plt  # Visualisasi data
import seaborn as sns            # Visualisasi data tambahan

# Statistik dan Machine Learning
from scipy import stats          # Statistik
from sklearn import datasets     # Datasets untuk machine learning
from sklearn.model_selection import train_test_split  # Pembagian data train-test
from sklearn.preprocessing import StandardScaler     # Normalisasi data
from sklearn.linear_model import LinearRegression    # Regresi linear
from sklearn.tree import DecisionTreeClassifier      # Klasifikasi menggunakan Decision Tree
from sklearn.cluster import KMeans                    # KMeans clustering

# Evaluasi Model
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report  # Evaluasi performa model

# Visualisasi Machine Learning
from sklearn.tree import plot_tree    # Visualisasi struktur Decision Tree
from sklearn.metrics import roc_curve, auc  # Kurva ROC dan AUC

In [3]:
data = pd.read_csv("Dataset\Stock\IHSH_Stock.csv",sep=",", thousands=".", decimal=",")

In [4]:
data.rename(columns={
    "Tanggal": "Date",
    "Terakhir": "Close",
    "Pembukaan": "Open",
    "Tertinggi": "High",
    "Terendah": "Low",
    "Vol.": "Volume",
    "Perubahan%": "Change%"
}, inplace=True)

data = data.iloc[::-1].reset_index(drop=True)
data

            Date    Close     Open     High      Low  Volume Change%
0     01/01/2014  4274.18  4240.39  4274.18  4232.58     NaN   0,00%
1     02/01/2014  4327.27  4294.49  4327.27  4287.81   2,31B   1,24%
2     03/01/2014  4257.66  4297.72  4298.23  4247.99   2,19B  -1,61%
3     06/01/2014  4202.81  4259.58  4263.62  4188.38   1,97B  -1,29%
4     07/01/2014  4175.81  4206.30  4212.32  4175.81   2,38B  -0,64%
...          ...      ...      ...      ...      ...     ...     ...
2642  01/11/2024  7505.26  7573.79  7583.69  7485.46  15,53B  -0,91%
2643  04/11/2024  7479.50  7505.11  7529.70  7415.81  21,23B  -0,34%
2644  05/11/2024  7491.93  7474.45  7497.00  7451.55  18,27B   0,17%
2645  06/11/2024  7383.87  7495.13  7506.60  7363.03  23,58B  -1,44%
2646  07/11/2024  7281.65  7369.13  7379.10  7280.19  20,41B  -1,38%

[2647 rows x 7 columns]