In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../Dataset/Stock/Supervised_data.csv")

In [5]:
df.columns

Index(['Date', 'Close(t-10)', 'Open(t-10)', 'High(t-10)', 'Low(t-10)',
       'Sentiment_Score(t-10)', 'Close(t-9)', 'Open(t-9)', 'High(t-9)',
       'Low(t-9)', 'Sentiment_Score(t-9)', 'Close(t-8)', 'Open(t-8)',
       'High(t-8)', 'Low(t-8)', 'Sentiment_Score(t-8)', 'Close(t-7)',
       'Open(t-7)', 'High(t-7)', 'Low(t-7)', 'Sentiment_Score(t-7)',
       'Close(t-6)', 'Open(t-6)', 'High(t-6)', 'Low(t-6)',
       'Sentiment_Score(t-6)', 'Close(t-5)', 'Open(t-5)', 'High(t-5)',
       'Low(t-5)', 'Sentiment_Score(t-5)', 'Close(t-4)', 'Open(t-4)',
       'High(t-4)', 'Low(t-4)', 'Sentiment_Score(t-4)', 'Close(t-3)',
       'Open(t-3)', 'High(t-3)', 'Low(t-3)', 'Sentiment_Score(t-3)',
       'Close(t-2)', 'Open(t-2)', 'High(t-2)', 'Low(t-2)',
       'Sentiment_Score(t-2)', 'Close(t-1)', 'Open(t-1)', 'High(t-1)',
       'Low(t-1)', 'Sentiment_Score(t-1)', 'Close(t)', 'Open(t)', 'High(t)',
       'Low(t)', 'Sentiment_Score(t)'],
      dtype='object')

In [6]:
sentiment_columns = [col for col in df.columns if col.startswith('Sentiment_Score(t-')]

# Hitung sum dari kolom-kolom tersebut dan bagi dengan 2
df['Sigma_Sentiment'] = df[sentiment_columns].sum(axis=1) / 2

In [8]:
df[["Date","Sigma_Sentiment"]]

            Date  Sigma_Sentiment
0     2014-01-20        -0.333333
1     2014-01-21         0.666667
2     2014-01-22         1.333333
3     2014-01-23         1.666667
4     2014-01-24         2.000000
...          ...              ...
2564  2024-07-31        -1.833333
2565  2024-08-01        -2.333333
2566  2024-08-02        -2.000000
2567  2024-08-05        -2.000000
2568  2024-08-06        -2.000000

[2569 rows x 2 columns]